# Python
__pycache__/
*.py[cod]
$py.class

# virtualenv
venv/
env/
ENV/

# pip
pip-log.txt

# PyInstaller
dist/
build/

# Jupyter
.ipynb_checkpoints

# vscode
.vscode/

# macOS
.DS_Store

# diskcache
.cache_trans/

# compiled C extensions
*.so

# logs
*.log
